# =============================================================================
# REDI LAB — Portainer Agent Environment
# Deploy on redi-jkt-01, redi-sby-01, redi-mjk-01
# =============================================================================

PORTAINER_AGENT_HOSTNAME=redi-jkt-01
PORTAINER_AGENT_TAILSCALE_IP=100.64.0.1
PORTAINER_AGENT_IMAGE=portainer/agent:2.27.3
PORTAINER_AGENT_SECRET=CHANGE_ME_AGENT_SECRET_MIN_32_CHARS
