AUTHENTIK_IMAGE=ghcr.io/goauthentik/server:2024.10.4
AUTHENTIK_TAILSCALE_IP=100.79.82.92
AUTHENTIK_SECRET_KEY=CHANGE_ME_50_CHARS_MIN
AUTHENTIK_DB_PASSWORD=CHANGE_ME
AUTHENTIK_DATA_PATH=/opt/redi/data/authentik
MJK_MESH_IP=100.81.86.37
REDIS_PASSWORD=CHANGE_ME
